@font-face {
  font-family: 'HamiltoneG';
  src: url(mr_HamiltoneGRegular.woff2) format('woff2'),
       url(mr_HamiltoneG.woff) format('woff'),
       url(mr_HamiltoneG.ttf) format('truetype');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url(PoiretOne.ttf) format('truetype'),
       url(PoiretOne.svg) format('svg');
       font-style: normal;
       font-weight: normal;
}
